body {
    background: #35374B;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #f3f3f3;
}

/*Login*/
.FormCajaLogin {
    width: 100%;
    height: 100%;
    display: grid;
    background: no-repeat center center fixed;

}

.grupo-entradas {
    position: absolute;
    display: grid;
    width: 100%;
    transition: .5s;

}

.FormLogin {
    background-color: #344955;
    margin: 3em auto auto auto;
    border-radius: 8px;
    color: #f3f3f3;
    width: 400px;
    height: 600px;
    position: relative;
    padding: 2px;
    overflow: hidden;

}

.TextoCajas {

    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 4%;
    color: #f3f3f3;
    text-align: left;
}

.CajaTexto {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border-radius: 6px;
    border: none;
}

.BtnRegistrar {
    width: 80%;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    border: none    ;
    font-size: 18px;
    color: #f3f3f3;
    background-color: #78A083;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 7%;
}

.BtnLogin {
    width: 80%;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #f3f3f3;
    background-color: #78A083;
    font-weight: bold;
    margin-top: 7%;
    margin-bottom: 5%;
}

.botondeintercambiar {
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 6px 0.5px #35374B;
    border-radius: 30px;
}

.botoncambiarcaja {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: bold;
    font-size: 16px;
}

#btnvai {
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background-color: #78A083;
    border-radius: 30px;
    transition: .5s;
}

#frmlogin {
    bottom: 10%;
    left: 50px;
}

#frmregistrar {
    left: 450px;
}

/*Panel*/
.BarraLateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #344955;
    box-sizing: border-box;
    text-align: center;
}

.BarraLateral ul {
    list-style: none;
    padding: 0;
    margin-top: 10%;
    font-size: 18px;
}

.BarraLateral li {
    text-align: left;
    padding: 12px 10px;
}

.BarraLateral a {
    color: #f3f3f3;
    text-decoration: none;
}

.ContenedorPrincipal {
    margin-left: 200px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 768px) {
    .BarraLateral {
        width: 100%;
        height: auto;
        position: relative;
    }

    .ContenedorPrincipal {
        margin-left: 0;
    }
}

/*Tabla*/
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    background-color: #B6BBC4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

th {
    background-color: #344955;
    color: #f3f3f3;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.ContenedorTabla {
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
    width: 100%;

}

.BotonesTeam,
.BotonesTeam1,
.BotonesTeam2,
.BotonesTeam3,
.BotonesTeam4,
.BotonesTeam5 {
    text-align: center;
    display: inline-block;
    background: #78A083;
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.BotonesTeam1,
.BotonesTeam2,
.BotonesTeam3 {
    transition: transform 250ms;
    width: 8%;
    background: #78A083;
}

.BotonesTeam2 {
    background: #185ca7;
}

.BotonesTeam3 {
    background: #A0153E;
}

.BotonesTeam4 {
    background: #78A083;
}

.BotonesTeam5 {
    transition: transform 250ms;
    background: #78A083;
}

.BotonesTeam1:hover,
.BotonesTeam2:hover,
.BotonesTeam3:hover,
.BotonesTeam5:hover {
    transform: translateY(-10px);
}

.ContBuscar {
    overflow: hidden;
    padding-top: 1%;
}

.CajaTextoBuscar {
    width: 300px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}


/*CajaPopUp*/
.contenedor_popup {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 400px;
    transition: all 0.2s;
    background-color: white;
}

.caja_popup2 {
    display: block;
    position: absolute;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}